.prop-img {
  width: 100px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

table td {
  vertical-align: middle;
}

thead input {
  font-size: 0.85rem;
}

.prop-img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

body {
  background-color: #f8f9fa;
}

table img {
  border-radius: 5px;
}